<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.hideseek">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lost_found"
        android:label="DetectiveX"
        android:roundIcon="@mipmap/ic_lost_found"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="DetectiveX"
            android:theme="@style/AppTheme" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".AccountActivity.LoginActivity" />
        <activity
            android:name=".AddForm"
            android:label="Add the Object Form"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".IssueDescription"
            android:theme="@style/AppTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Personal_Activity"
            android:label="My Issues" />
        <activity android:name=".InfoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".VPActivity"></activity>
    </application>

</manifest>